{{define "partials/head.html"}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en-us">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Broadleaf Commerce Admin">
    <meta name="author" content="Broadleaf Commerce">

    <title>{{.PageTitle}} - Admin | Broadleaf Commerce</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/admin/css/admin.css">

    {{block "head_css" .}}{{end}}
</head>
{{end}}
